{% extends 'base.html' %}
{% block title %}Boggle Game{% endblock %}
{% block body %}
<div class="header">
    <h1>Let's Play Boggle!</h1>
</div>
<div class="container">
    <div>
        <p>Score: <b class="score">0</b></p>
    </div>
    <div>
        <p>Seconds Left: <b class="timer"></b></p> 
    </div>
    <div>
        <p>High Score: <b class="highscore">{{ highscore }}</b> in {{ nplays }} plays</p> 
    </div>
</div>
<section class="playground">
    <table class="board">
        <tbody>
            {% for row in board %}
            <tr>
                {% for letter in row %}
                <td>{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <form id="checkForm" method='POST' class="add-word">
    <input type="text" name="word" class="word" autofocus>
    <button>Enter</button>
    </form>

    <p class="msg"></p>
    <ul class="words"></ul>
</section>

{% endblock %}