{% extends 'base.html' %}
{% block title %}Boggle Game{% endblock %}
{% block body %}
<div class="header">
    <h1>Welcome to Boggle!</h1>
</div>
<div class="container">
    <div id="scores">
        <div id="score">Current Score: <span>0</span></div>
        <div id="result">Server Result: <span>0</span></div>
    </div>
    <div id="totals">
        <div id="timer">Time: <span>60</span></div>
        <div id="total_score">Total Score: <span>{{session['user_score']}}</span></div>
    </div>
    <div id="numbers">
        <div id="total_games">Game Number: <span>{{session['game_count']}}</span></div>
    </div>
</div>
<section class="playground">
    <table id="game">
        <tbody>
            {% for row in letters_board %}
            <tr>
                {% for letter in row%}
                <td>{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
<form id="checkForm">
    <input id="checkWordField" type="text" name="word" placeholder="Your suggestion">
    <button id="btn" data-text="word">Check Word</button>
</form>
<div id="hint"><button>Get a hint</button></div>
</section>
{% endblock %}