{% extends 'base.html' %}
{% block title %}Boggle Game{% endblock %}
{% block body %}
<div class="header">
    <h1>Welcome to Boggle!</h1>
</div>
<div id="timer">Time: <span>60</span></div>
<div id="score">Score: <span>{{session['user_score']}}</span></div>
<div id="games">Game No: <span>{{session['game_count']}}</span></div>
<section class="gameboard">
    <table id="game">
        <tbody>
            {% for row in letters_board %}
            <tr>
                {% for letter in row%}
                <td>{{letter}}</td>
                { endfor }
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<div id="hint"><p>Hint</p><button>Get a hint</button></div>
<div id="score">Current Score: <span>0</span></div>
<div id="result">Server result: </div>
<form id="checkForm">
    <input id="checkWordField" type="text" name="word" placeholder="Your suggestion">
    <button id="btn" data-text="word">Check word!</button>
</form>

{% endblock %}